<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!<!-- This is a comment. This is the first type of binding-->
  </h1>
</div>
<h1>Random number of randomly generated numbers.</h1>
<ul>
  <li *ngFor="let number of numbers">{{number}}</li> <!-- This is sort of a foreach with <li> inside each loop -->
</ul>
